ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin-bottom: 20px;
}

li div {
  position: relative;
  max-width: 400px;
  width: 100%;
  padding-right: 44px;
  box-sizing: border-box;
  white-space: break-all;
}

li button {
  position: absolute;
  top: 1px;
  right: 0;
}
